---
import Btn from "../../components/cta-button.astro";
---

<section class="flex flex-col max-md:mt-[-1px] lg:flex-row max-[375px]:px-4 text-neutral align-center justify-center p-8 bg-base-100 " id="about" >

    <div class="flex flex-col justify-between lg:flex-row">
        <div>

        </div>
        <div>
            <p></p>Uma rede de franquia que cresce de maneira sólida, justa e honesta!
        </div>
    </div>

    <div class="flex flex-coljustify-between lg:flex-row">
        <p>test</p>
    </div>

</section>

