---
import Form from "../../components/form.astro";
---

<section class="bg-accent w-full pt-20 pb-40 max-md:pb-60 max-[375px]:px-4 max-[375px]:border-t-[8px] max-[375px]:border-t-accent" id="contact">
    <div class="flex flex-row justify-center p-8 max-sm:px-0 lg:py-16">
        <Form />    
    </div>
</section>