---
import Btn from "../../components/franquia-cta-btn.astro";
---

<main class="relative min-h-screen overflow-hidden">
    <!-- Main content container -->
    <div
        class="grid lg:grid-cols-2 gap-4 sm:gap-8 lg:gap-12 items-center min-h-screen w-full bg-[url('/src/images/franquia/Banner-franquia.png')] bg-cover bg-center bg-no-repeat"
    >
        <div
            class="text-white space-y-4 sm:space-y-6 lg:space-y-8 max-w-2xl px-4 sm:px-8 lg:ml-20 lg:px-0"
        >
            <div class="space-y-2 sm:space-y-4">
                <h1
                    class="text-2xl text-center sm:text-3xl md:text-4xl lg:text-5xl xl:text-7xl font-bold leading-tight"
                >
                    Não é só um mini mercado. É o futuro do varejo dentro do seu
                    condomínio.
                </h1>
            </div>

            <div class="pt-2 sm:pt-4 rounded-full w-full text-xl text-center">
                <a
                    href="#contact"
                    type="button"
                    style="color: #FFFFFF; background-color: transparent;"
                    class="text-center p-2 lg:py-6 lg:px-8 font-bold text-sm lg:text-lg rounded-full w-full border-2 border-white"
                    >FAÇA PARTE DO SEGMENTO QUE MAIS CRESCE NO PAÍS</a
                >
            </div>
        </div>
    </div>
</main>
