---
import { Picture } from "astro:assets"
import Carousel from "../carousel.astro";
---

<section class="py-6">
    <span class="flex justify-center">
        <h2 class="text-center text-4xl font-extrabold w-[50%] text-neutral">Descubra como a Facility pode 
            transformar o seu condomínio!</h2>
    </span>
    <Carousel />
    <div class="grid grid-cols-2 text-center text-2xl py-8">
        <span>
            O mix de produtos é personalizado<br>
            de acordo com o consumo!
        </span>
        <span>
            A Facility conta com fornecedores<br>
            exclusivos de produtos especiais!
        </span>
    </div>
    <div class="flex w-full justify-center py-8">
        <a href="" type="button" class="mt-10 p-2 bg-primary text-base-100 font-bold text-sm rounded-full w-fit">Quero no meu condomínio</a>
    </div>
    
</section>