---
import BaseLayout from "../layouts/BaseLayout.astro";

---

<BaseLayout>
  <div class="flex flex-col bg-gray-100 h-screen justify-center align-center">
    <center class="m-auto">
      <div class="tracking-widest mt-2">
          <span class="text-gray-500 text-4xl lg:text-6xl block my-4">4  0  4</span>
          <span class="text-gray-500 text-3xl lg:text-2xl">UEPA! Essa página não existe</span>
        </div>
        <center class="mt-10 lg:mt-6">
          <a href=`${Astro.url.origin}/` class="text-gray-500 font-mono text-lg lg:text-2xl bg-gray-200 p-3 rounded-md hover:shadow-md">Voltar</a>
        </center>
    </center>
  </div>
</BaseLayout>

        