---
---

<div class="bg-[#fff] top-0 left-0 w-100 h-20 rounded-t-[100%]"></div>

<section class="flex flex-row bg-[#fff] text-[#494F4F] justify-center">
    <div class="flex flex-col w-[50%] p-8">
        <h2 class="font-bold text-5xl leading-loose">Mercado autônomo</h2>
        <p>
            Como o próprio nome sugere, no mercado autônomo o cliente 
            realiza todas as etapas da compra sem precisar de funcionários, ou seja, 
            um mercado em casa disponível 24 horas por dia!
        </p>
        <span class="pt-6">
            Em um ano a Facility transformou a vida de centenas de pessoas:    
        </span>
        
        <a href="" type="button" class="mt-10 p-2 bg-[#72A74A] text-[#fff] font-bold text-sm rounded-full w-fit">Quero no meu condomínio</a>
    </div>
    <div class="grid grid-cols-2 p-4 gap-0 w-fit">
        <div class="grid p-2 m-2 rounded-xl shadow-2xl border-3 border-black shadow-gray-400 align-center w-40">
            <h3 class="text-center self-center font-extrabold text-5xl">85k</h3>
            <p class="text-center text-md">Lorem ipsum dolor sit amet</p>
        </div>
        <div class="grid p-2 m-2 rounded-xl shadow-2xl border-3 border-black shadow-gray-400 align-center w-40">
            <h3 class="text-center self-center font-extrabold text-5xl">85k</h3>
            <p class="text-center text-md">Lorem ipsum dolor sit amet</p>
        </div>
        <div class="grid p-2 m-2 rounded-xl shadow-2xl border-3 border-black shadow-gray-400 align-center w-40">
            <h3 class="text-center self-center font-extrabold text-5xl">85k</h3>
            <p class="text-center text-md">Lorem ipsum dolor sit amet</p>
        </div>
        <div class="grid p-2 m-2 rounded-xl shadow-2xl border-3 border-black shadow-gray-400 align-center w-40">
            <h3 class="text-center self-center font-extrabold text-5xl">85k</h3>
            <p class="text-center text-md">Lorem ipsum dolor sit amet</p>
        </div>
    </div>
</section>
