---
import 'swiper/css';
import Slide from '../components/slide.astro';
import {products} from '../utils/products.json';

---
 
<div class="swiper bg-base-100" role="region" aria-label="carousel">
    <div class="swiper-wrapper" role="group">
        {
            products.map((product) => (
                <div class="swiper-slide my-8 text-center" role="group" aria-roledescription="Slide">
                    <Slide title={product}/>
                </div>
            ))
        }
    </div>
</div>

<script>
    import Swiper from 'swiper';

    let swiper = new Swiper('.swiper', {
        speed: 5000,
        loop: true,
        slidesPerView: 4,
        freeMode: {
            enabled: true
        }
    });


    setInterval(() => {
        swiper.slideNext();
    }, 0);

</script>