---
import 'swiper/css';
import { Image } from 'astro:assets';
import { products } from '../utils/products.json';

const productImages = import.meta.glob<{ default: ImageMetadata }>('/src/images/produtos-*.png');
---
 
<div class="swiper" role="region" aria-label="carousel">
    <div class="swiper-wrapper" role="group">
        {
            products.map(({title, imageUrl, description}) => (
                <div class="swiper-slide my-8" role="group" aria-roledescription="Slide">
                    <div class="card w-fit shadow-xl rounded-3xl p-4 mx-4 my-8">
                        <Image src={productImages[`/src/images/produtos-${imageUrl}.png`]()}
                            class="self-center"
                            height={200} 
                            width={200} 
                            format="png" 
                            loading="lazy"
                            aria-label={title} 
                            alt={description}/>
                        <h3 class="text-center pt-4 font-extrabold text-lg">{title}</h3>
                    </div>
                </div>
            ))
        }
    </div>
</div>

<style>
    .swiper-slide{
        margin: auto;
        display: flex;
        justify-content: center;
    }
</style>

<script>
    import Swiper from 'swiper';
    import { Autoplay } from 'swiper/modules';

    let clientWidth = document.documentElement.clientWidth;
    let slidesPerView = 4;

    if(clientWidth < 1000){
        slidesPerView = 2;
    }

    if(clientWidth < 600){
        slidesPerView = 1;
    }

    Swiper.use([Autoplay])
    let swiper = new Swiper('.swiper', {
        speed: 3000,
        autoplay: {
            delay: 200
        },
        loop: true,
        slidesPerView: slidesPerView,
        centeredSlides: true,
        centeredSlidesBounds: true
    });

</script>