---
import 'swiper/css';
import { Image } from 'astro:assets';

import adega from '../images/produtos-Adega.png';
import bomboniere from '../images/produtos-Bomboniere.png';
import alcoolicos from '../images/produtos-Alcoolicos.png';
import churrasco from '../images/produtos-Churrasco.png';
import congelados from '../images/produtos-Congelados.png';
import higiene from '../images/produtos-Higiene.png';
import naoAlcoolicos from '../images/produtos-nao-alcoolicos.png';
import refrigerados from '../images/produtos-Refrigerados.png';
import saudavel from '../images/produtos-Saudavel.png';
import snacks from '../images/produtos-Snacks.png';
import sorvetes from '../images/produtos-Sorvetes.png';

const products = [
        {
            "title": "Bomboniere",
            "image": bomboniere,
            "description": ""
        },
        {
            "title": "Congelados",
            "image": congelados,
            "description": ""
        },
        {
            "title": "Sorvetes",
            "image": sorvetes,
            "description": ""
        },
        {
            "title": "Saudável",
            "image": saudavel,
            "description": ""
        },
        {
            "title": "Higiene",
            "image": higiene,
            "description": ""
        },
        {
            "title": "Alcoólicos",
            "image": alcoolicos,
            "description": ""
        },
        {
            "title": "Adega",
            "image": adega,
            "description": ""
        },
        {
            "title": "Não alcoólicos",
            "image": naoAlcoolicos,
            "description": ""
        },
        {
            "title": "Snacks",
            "image": snacks,
            "description": ""
        },
        {
            "title": "Refrigerados",
            "image": refrigerados,
            "description": ""
        },
        {
            "title": "Churrasco",
            "image": churrasco,
            "description": ""
        }
]
---
 
<div class="swiper" role="region" aria-label="carousel">
    <div class="swiper-wrapper" role="group">
        {
            products.map(({title, image, description}) => (
                <div class="swiper-slide my-8" role="group" aria-roledescription="Slide">
                    <div class="card w-fit shadow-xl rounded-3xl p-4 mx-4 my-8">
                        <Image src={image}
                            class="self-center"
                            height={200} 
                            width={200} 
                            format="png" 
                            loading="lazy"
                            aria-label={title} 
                            alt={description}/>
                        <h3 class="text-center pt-4 font-extrabold text-lg">{title}</h3>
                    </div>
                </div>
            ))
        }
    </div>
</div>

<style>
    .swiper-slide{
        margin: auto;
        display: flex;
        justify-content: center;
    }
</style>

<script>
    import Swiper from 'swiper';
    import { Autoplay } from 'swiper/modules';

    let clientWidth = document.documentElement.clientWidth;
    let slidesPerView = 4;

    if(clientWidth < 1000){
        slidesPerView = 2;
    }

    if(clientWidth < 600){
        slidesPerView = 1;
    }

    Swiper.use([Autoplay])
    let swiper = new Swiper('.swiper', {
        speed: 3000,
        autoplay: {
            delay: 200
        },
        loop: true,
        slidesPerView: slidesPerView,
        centeredSlides: true,
        centeredSlidesBounds: true
    });

</script>