---
interface Props {
    bgColor: string;
    textColor: string;
}


const {
    bgColor,
    textColor
} = Astro.props;

---

<span>
    <a href="https://api.whatsapp.com/send/?phone=5511994961361&text=Oi,%20gostaria%20de%20saber%20mais%20sobre%20ser%20licenciado%20Facility" type="button" style=`color: ${textColor}; background-color: ${bgColor};`
       class="mt-10 py-6 px-8 font-bold text-sm lg:text-lg rounded-full w-fit">Quero no meu condomínio</a>
</span>

<style>

</style>