---
interface Props {
    bgColor: string;
    textColor: string;
}


const {
    bgColor,
    textColor
} = Astro.props;

---

<span class="mt-10">
    <a href="#contact" type="button" style=`color: ${textColor}; background-color: ${bgColor};`
       class="text-center py-4 px-4 lg:py-6 lg:px-8 font-bold text-sm lg:text-lg rounded-full w-fit">Quero no meu condomínio</a>
</span>

<style>
</style>