---

const {
    color
} = Astro.props;

const hexColor = color ? color : "#fff";
---

<div class="h-[90px] overflow-hidden bg-transparent mt-[-150px] max-sm:max-h-[40px]">
    <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
        <path d="M92.81,84.09 C197.18,21.09 305.93,26.08 400.31,84.09 L515.31,158.09 L-11.56,157.08 Z" 
            style=`stroke: none; fill: ${hexColor}`>
        </path>
    </svg>
</div>