---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import logo from "../images/logo-facility-home-market-header.svg";
import {whatsappLink} from '../utils/mail';

---

<footer class="flex flex-col lg:flex-row footer px-10 pb-10 max-md:mt-[-1px] bg-base-100 text-neutral justify-center lg:text-lg">
    <nav class="flex flex-col max-lg:items-center max-lg:w-full px-10 lg:leading-4">
      <a class="font-extrabold font-black link link-hover" href="#about">A Facility</a>
      <a class="link link-hover" href="#products">Produtos</a>
      <a class="link link-hover" href="#benefits">Benefícios</a>
      <a class="link link-hover" href="#reviews">Nossos clientes</a>
    </nav> 
    <nav class="max-lg:hidden px-[6%] self-center">
      <Image src={logo} alt="Facility logo" width={250}/>
    </nav> 
    <nav class="flex flex-col max-lg:items-center max-lg:w-full px-10 lg:leading-4">
        <a class="link link-hover" href="#contact">Contato</a>
        <a class="link link-hover" href={whatsappLink}>Seja um licenciado</a>
        <nav class="flex flex-row bg-base-100 pt-4 max-md:justify-center">
            <a class="rounded-full bg-accent p-[6%] mx-1 text-base-100" type="button" href="https://www.instagram.com/facilityhomemarket/" target="_blank">
                <Icon name={'fa:instagram'} size={15} />
            </a>
            <a class="rounded-full bg-accent p-[6%] mx-1 text-base-100 hidden" type="button" href="" target="_blank">
                <Icon name={'fa:facebook'} size={15} />
            </a>
            <a class="rounded-full bg-accent p-[6%] mx-1 text-base-100" type="button" href="#contact" >
                <Icon name={'fa-regular:envelope'} size={15} />
            </a>
            <a class="rounded-full bg-accent p-[6%] mx-1 text-base-100" type="button" 
                href={whatsappLink} target="_blank">
                <Icon name={'fa:whatsapp'} size={15} />
            </a>
        </nav>
    </nav>
</footer>