---
import { Icon } from "astro-icon/components";

---

<footer class="flex footer px-10 pb-10 bg-base-100 text-neutral justify-center">
    <nav class="px-10">
      <h6 class="footer-title font-bold">A Facility</h6> 
      <a class="link link-hover">Produtos</a>
      <a class="link link-hover">Benefícios</a>
      <a class="link link-hover">Nossos clientes</a>
    </nav> 
    <nav class="px-10 self-center">
      <h6 class="footer-title">Logo here</h6> 
    </nav> 
    <nav class="px-10">
        <a class="link link-hover">Contato</a>
        <a class="link link-hover">Seja um licenciado</a>
        <nav class="flex flex-row bg-base-100 justify-center pt-4">
            <a class="rounded-full bg-accent p-1 mx-1 text-base-100" type="button" href="" target="_blank">
                <Icon name={'fa:instagram'} size={10} />
            </a>
            <a class="rounded-full bg-accent p-1 mx-1 text-base-100" type="button" href="" target="_blank">
                <Icon name={'fa:facebook'} size={10} />
            </a>
            <a class="rounded-full bg-accent p-1 mx-1 text-base-100" type="button" href="" target="_blank">
                <Icon name={'fa-regular:envelope'} size={10} />
            </a>
            <a class="rounded-full bg-accent p-1 mx-1 text-base-100" type="button" href="" target="_blank">
                <Icon name={'fa:whatsapp'} size={10} />
            </a>
        </nav>
    </nav>
</footer>