---
---

<!-- TODO: email validation and api integration -->

<div class="bg-base-100 rounded-[24px] w-full lg:max-w-[60%] border-black border-1">
    <h2 class="text-center text-3xl lg:text-5xl font-bold py-10">Fale com a Facility!</h2>
    <form class="p-4 grid grid-cols-1 lg:grid-cols-2">
        <div class="grid mx-4 space-y-2">
            <div class="form-control">
                <input type="text" placeholder="Nome" id="nome" class="input rounded-full shadow-xl placeholder:text-neutral" />
            </div>
            <div class="form-control">
                
                <input type="text" placeholder="Telefone" id="telefone" class="input rounded-full shadow-xl placeholder:text-neutral"  />
            </div>
            <div class="form-control">
                
                <input type="email" placeholder="Email" id="email" class="input rounded-full shadow-xl placeholder:text-neutral"  />
            </div>    
        </div>
        <div class="grid mx-4 space-y-2 max-lg:items-center">
            <div class="form-control">
                
                <input type="text" placeholder="Cidade" id="cidade" class="input rounded-full shadow-xl placeholder:text-neutral"  />
            </div>
            <div class="form-control">
                
                <input type="text" placeholder="Bairro" id="bairro" class="input rounded-full shadow-xl placeholder:text-neutral"  />
            </div>
            <div class="form-control w-full">
                <span class="flex w-full justify-center">
                    <select class="select select-bordered max-w-xs shadow-xl placeholder:text-neutral rounded-full" id="categoria">
                        <option selected>Sou Morador(a)</option>
                        <option>Sou Síndico(a)</option>
                        <option>Sou Administrador(a)</option>
                    </select>
                </span>
            </div>
        </div>
    </form>
    <div class="flex w-full justify-center pt-2 pb-6">
        <button class="btn btn-primary w-[90%] bg-accent border-none rounded-full text-base-100 hover:bg-accent" onclick="submitForm()">Enviar</button>
    </div>
</div>



<script is:inline>

    const get = (id) => document.getElementById(id) || { value: '' };

    const submitForm = () => {
        // TODO: timestamp logic to avoid flood
        const token = localStorage.getItem("token");
        if(token){
			alert('FUNCIONOU');
        }		
        saveInput()
        sendmail()
    }

    // save and retrieve generic formdata from localstorage
    const getFormData = () => {
        const store = Object.create(null)
        store.nome = get('nome')?.value
        store.telefone = get('telefone')?.value
        store.email = get('email').value
        store.cidade = get('cidade')?.value
        store.bairro = get('bairro')?.value
        store.categoria = get('categoria')?.value
        return store
    }

    const saveInput = () => {
        const { message, subject, ...rest } = getFormData()
        localStorage.setItem('contactinfo', JSON.stringify(rest))
    }

    const submitBtn = document.querySelector('[type="submit"]');;
    submitBtn?.addEventListener('click', submitForm);
    ;[...document.querySelectorAll('input')][0]?.focus({
        preventScroll: true
    })

    const sendmail = async () => {
        const { 
            nome,
            telefone,
            email,
            cidade,
            bairro,
            categoria
        } = getFormData();
        const data = await fetch('/api/sendmail.json', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ nome, telefone, email, cidade, bairro, categoria }),
        }).then((res) => {
            if (!res.ok) {
                throw new Error(res.status)
            }
            return res.json()
        }).catch((err) => {
            console.log('Error', err)
            throw new Error('Network error.')
        })
        console.log(data) 
    }

</script>


