---
---

<div class="bg-base-100 rounded-[24px] w-full lg:max-w-[60%] border-black border-1">
    <h2 class="text-center text-3xl lg:text-5xl font-bold pt-6 sm:py-8 lg:py-10">Fale com a Facility!</h2>
    <form class="p-4 grid grid-cols-1 max-lg:space-y-8 lg:grid-cols-2">
        <div class="grid md:mx-4 space-y-8 lg:space-y-2">
            <div class="form-control">
                <input type="text" placeholder="Nome" id="nome" class="input rounded-full shadow-xl placeholder:text-neutral" />
            </div>
            <div class="form-control">
                
                <input type="text" placeholder="Telefone" id="telefone" class="input rounded-full shadow-xl placeholder:text-neutral"  />
            </div>
            <div class="form-control">
                
                <input type="email" placeholder="Email" id="email" class="input rounded-full shadow-xl placeholder:text-neutral"  />
            </div>    
        </div>
        <div class="grid md:mx-4 space-y-8 lg:space-y-2 max-lg:items-center">
            <div class="form-control">
                <input type="text" placeholder="Cidade" id="cidade" class="input rounded-full shadow-xl placeholder:text-neutral"  />
            </div>
            <div class="form-control">
                <input type="text" placeholder="Bairro" id="bairro" class="input rounded-full shadow-xl placeholder:text-neutral"  />
            </div>
            <div class="form-control">
                <span class="flex justify-center">
                    <select class="select select-bordered shadow-xl placeholder:text-neutral rounded-full w-full" id="categoria">
                        <option selected>Sou Morador(a)</option>
                        <option>Sou Síndico(a)</option>
                        <option>Sou Administrador(a)</option>
                    </select>
                </span>
            </div>
        </div>
    </form>
    <div class="flex w-full justify-center pt-2 pb-6">
        <button class="btn btn-primary w-[90%] bg-accent border-none rounded-full text-base-100 hover:bg-accent" onclick="submitForm()">Enviar</button>
    </div>
</div>

<div id="toastContainer" class=" hidden toast max-lg:toast-center toast-top w-fit lg:toast-bottom lg:toast-right z-[9]">
</div>

<script is:inline>
    let toastContainer = document.getElementById("toastContainer");

    const get = (id) => document.getElementById(id) || { value: '' };

    const submitForm = () => {
        checkToken();
    }

    const saveToken = () => {
        let tokenData = {lastSend: new Date().getDay()};
        localStorage.setItem('facility-token', JSON.stringify(tokenData));
    }

    const checkToken = () => {
        let token = JSON.parse(localStorage.getItem('facility-token'));
        if(token){
            let today = new Date().getDay();
            if(Number(token.lastSend) === today){
                showToast('Um formulário já foi enviado hoje', true);
            }else{
                sendmail();
            }
        }else{
            sendmail();
        }
    }

    // save and retrieve generic formdata from localstorage
    const getFormData = () => {
        const store = Object.create(null)
        store.nome = get('nome')?.value
        store.telefone = get('telefone')?.value
        store.email = get('email').value
        store.cidade = get('cidade')?.value
        store.bairro = get('bairro')?.value
        store.categoria = get('categoria')?.value
        return store
    }

    const submitBtn = document.querySelector('[type="submit"]');;
    submitBtn?.addEventListener('click', submitForm);
    ;[...document.querySelectorAll('input')][0]?.focus({
        preventScroll: true
    })

    const showToast = (message, isError) => {

        let toastClass = 'alert-success';
        if(isError){
            toastClass = 'alert-error';
        }

        var toast = document.createElement('div');
        toast.classList.add('alert', toastClass);
        
        var toastMessage = document.createElement('span');
        toastMessage.textContent = message;
        
        toast.append(toastMessage);
        toastContainer.append(toast);
        toastContainer.classList.remove('hidden');

        setTimeout(() => {
            toastContainer.classList.add('hidden');
            toast.remove();
        }, 5000);
    }

</script>

<script async defer>

    const sendmail = async () => {
        const { 
            nome,
            telefone,
            email,
            cidade,
            bairro,
            categoria
        } = getFormData();

        if(!nome || !email || !telefone){
            showToast('nome, email e telefone são obrigatórios', true);
            throw new Error('nome, email e telefone são obrigatórios');
        }

        if(nome.length < 4){
            showToast('nome inválido', true);
            throw new Error('nome inválido');
        }

        let mobileRegex = /^(\(?[1-9]{2}\)?[\s-]?)?[9]{1}[0-9]{8}$/;

        if(!mobileRegex.test(telefone)){
            showToast('telefone inválido', true);
            throw new Error('telefone inválido');
        }

        let emailRegex = /^([^\s@]+@[^\s@]+\.[^\s@]+)$/;

        if(!emailRegex.test(email)){
            showToast('email inválido', true);
            throw new Error('email inválido');
        }

        const {status, statusText} = await fetch('/api/sendmail.json', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'Facility-Key': '0425bdfb7df6c8d4e95d2801c6593274',
            },
            body: JSON.stringify({ nome, telefone, email, cidade, bairro, categoria }),
        }).then((res) => {
            if (!res.ok) {
                throw new Error(res.status)
            }
            return res;
        }).catch((err) => {
            console.log('Error', err)
            showToast('Oh-oh, algo deu errado. Tente novamente mais tarde.', true);
            throw new Error('Network error.')
        });

        if(status == 200){
            showToast('Email enviado com sucesso!', false);
            saveToken();
        }else{
            showToast('Oh-oh, algo deu errado. Tente novamente mais tarde.', true);
        }

    }
</script>