---
import { Icon } from "../../node_modules/astro-icon/components"
---
<!-- TODO: set mobile version -->

<header class="flex flex-col w-full align-center">
    <nav class="flex flex-row bg-primary justify-end pr-20 py-1">
        <a class="rounded-full bg-white p-1 mx-1 text-primary" type="button" href="" target="_blank">
            <Icon name={'fa:instagram'} size={8} />
        </a>
        <a class="rounded-full bg-white p-1 mx-1 text-primary" type="button" href="" target="_blank">
            <Icon name={'fa:facebook'} size={8} />
        </a>
        <a class="rounded-full bg-white p-1 mx-1 text-primary" type="button" href="" target="_blank">
            <Icon name={'fa-regular:envelope'} size={8} />
        </a>
        <a class="rounded-full bg-white p-1 mx-1 text-primary" type="button" href="" target="_blank">
            <Icon name={'fa:whatsapp'} size={8} />
        </a>
    </nav>
    <nav class="flex bg-base-100 py-2 justify-around items-center">
        <div class="mx-5">IconeX</div>
        <div role="button" class="py-2">
            <a class="border-none text-[#494F4F] px-4 text-center" type="button">A Facility</a>
            <a class="border-none text-[#494F4F] px-4 text-center" type="button">Produtos</a>
            <a class="border-none text-[#494F4F] px-4 text-center" type="button">Beneficios</a>
            <a class="border-none text-[#494F4F] px-4 text-center" type="button">Clientes</a>
            <a class="border-none text-[#494F4F] px-4 text-center" type="button">Contato</a>
        </div>
        <button class="border-none rounded-full bg-secondary px-4 py-1">
            <p class="text-base-100 font-bold">Seja um Licenciado</p>
        </button>
    </nav>
</header>