---
---

<div class="flex flex-col bg-accent w-full">
    <h2 class="font-bold text-4xl text-center my-8">Onde estamos?</h2>
    <div class="w-fit h-80 overflow-hidden self-center rounded-xl my-8">
        <iframe 
            height="500px" width="800px"
            class="rounded-xl border-0 p-0 mt-[-50px]" 
            src="https://www.google.com/maps/d/u/0/embed?mid=1lt5vRaq8-xTHF6CaiphJCWnknbvgv9w&ehbc=2E312F&noprof=1" 
        ></iframe>
    </div>
</div>

<style>
</style>
