---
import Carousel from "./carousel.astro"
---

<section class="bg-base-100 py-6">
    <span class="flex justify-center">
        <h2 class="text-center text-4xl font-extrabold w-[50%] text-neutral">Descubra como a Facility pode 
            transformar o seu condomínio!</h2>
    </span>
    <Carousel />
</section>