---
const {
    title
} = Astro.props;
---

<div class="card w-60 bg-[#fff] shadow-xl rounded-xl">
    <figure class="px-4 pt-4">
      <img src="https://daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg" alt="Shoes" class="rounded-xl" />
    </figure>
    <h2 class="text-center py-6">{title}</h2>
</div>