---
---
<!-- TODO: link call to action  -->
<!-- TODO: mobile versions -->

<section class="flex flex-row text-neutral justify-center py-10" id="about" >
    <div class="flex flex-col w-[50%] p-8">
        <h2 class="font-bold text-5xl leading-loose">Mercado autônomo</h2>
        <p>
            Como o próprio nome sugere, no mercado autônomo o cliente 
            realiza todas as etapas da compra sem precisar de funcionários, ou seja, 
            um mercado em casa disponível 24 horas por dia!
        </p>
        <span class="pt-6">
            Em um ano a Facility transformou a vida de centenas de pessoas:    
        </span>
        
        <a href="" type="button" class="mt-10 p-2 bg-accent text-base-100 font-bold text-sm rounded-full w-fit">Quero no meu condomínio</a>
    </div>
    <div class="grid grid-cols-2 p-4 gap-0 w-fit" id="facilityInNumbers">
        <div class="grid px-8 py-16 m-2 rounded-3xl shadow-xl border-3 border-black shadow-gray-300 align-center h-fit ">
            <h3 class="text-center self-center font-extrabold text-5xl text-accent">
                <!-- css func to asc count -->
                <span class="[counter-set:_num_var(--num-transactions)] before:content-[counter(num)]"> k</span>    
            </h3>
            <p class="text-center text-md">Lorem ipsum dolor sit amet</p>
        </div>
        <div class="grid px-8 py-16 m-2 rounded-3xl shadow-xl border-3 border-black shadow-gray-300 align-center h-fit ">
            <h3 class="text-center self-center font-extrabold text-5xl text-accent">
                <span class="[counter-set:_num_var(--num-transactions)] before:content-[counter(num)]"></span>    
            </h3>
            <p class="text-center text-md">Lorem ipsum dolor sit amet</p>
        </div>
        <div class="grid px-8 py-16 m-2 rounded-3xl shadow-xl border-3 border-black shadow-gray-300 align-center h-fit ">
            <h3 class="text-center self-center font-extrabold text-5xl text-accent">
                <span class="[counter-set:_num_var(--num-transactions)] before:content-[counter(num)]"> k</span>    
            </h3>
            <p class="text-center text-md">Lorem ipsum dolor sit amet</p>
        </div>
        <div class="grid px-8 py-16 m-2 rounded-3xl shadow-xl border-3 border-black shadow-gray-300 align-center h-fit ">
            <h3 class="text-center self-center font-extrabold text-5xl text-accent">
                <span class="[counter-set:_num_var(--num-transactions)] before:content-[counter(num)]"> </span>    
            </h3>
            <p class="text-center text-md">Lorem ipsum dolor sit amet</p>
        </div>
    </div>
</section>


<style>
</style>

<script>
    window.addEventListener("scroll", function() {
        const element = document.getElementById("facilityInNumbers"); 

        if (element) {
            const rect = element.getBoundingClientRect();
            const isInViewport = (
                rect.top >= 0 &&
                rect.left >= 0 &&
                rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) &&
                rect.right <= (window.innerWidth || document.documentElement.clientWidth)
            );

            let spans = element.getElementsByTagName('span');

            if (isInViewport) {
                for(let span of spans){
                    span.classList.add("animate-[counter_2s_ease-out_forwards]"); 
                }
            } 
        }
    });
</script>