---
import Form from "../components/form.astro";

---


<section class="bg-accent w-full pt-5 pb-40">
    <div class="flex flex-row justify-center p-8 py-16">
         <Form />    
    </div>
</section>