---
import { Picture } from "astro:assets";
---

<main class="grid grid-cols-2 p-4 items-center bg-secondary pb-40">
    <div class="flex flex-col items-center">
        <section class="w-80">
            <h1 class="font-bold text-2xl leading-loose self-center text-base-100">
                Facilidade, economia e qualidade de vida para você e para sua família!
            </h1>
            <a href="" type="button" class="mt-10 p-2 bg-base-100 text-neutral font-bold text-sm rounded-full w-fit">Quero no meu condomínio</a>
        </section>
    </div>
    <Picture loading='lazy' src="https://breed-assets.wisdompanel.com/cat/domestic-cat-finland/European_Domestic.png"
            height={500} width={500} format="png"
            class="m-6 border-black border-1 rounded-2xl"
            aria-label="Rafael picture" alt="my profile picture" />
 
</main>
