---
import Header from '../components/header.astro';
---

<html lang='pt-br' class="motion-safe:scroll-smooth" data-theme='lofi'>
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="../images/parabole.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
		<meta name="generator" content={Astro.generator} />
		<title>Facility Home Market</title>
		<title>{Astro.props.title}</title>
	</head>

	<body>
		<!-- <span class="animate-[counter_3s_ease-out_forwards] [counter-set:_num_var(--num-transactions)] before:content-[counter(num)]"> million </span> -->
		<slot />
	</body>
</html>

<style is:global>
	
	body::-webkit-scrollbar {
		display: none;
	}


	html, body {
		max-width: 100vw;
		height: fit-content;
	}

	* {
		font-family: "Open Sans", sans-serif;
  		font-optical-sizing: auto;
	}

	@property --num-transactions {
        syntax: "<integer>";
        initial-value: 0;
        inherits: false;
    }

    @property --num-assets {
        syntax: "<integer>";
        initial-value: 0;
        inherits: false;
    }

    @property --num-users {
        syntax: "<integer>";
        initial-value: 0;
        inherits: false;
    }

    @keyframes counter {
        from {
            --num-transactions: 0;
            --num-assets: 0;
            --num-users: 0;
        }
        to {
            --num-transactions: 45;
            --num-assets: 119;
            --num-users: 4600;
        }
    }

</style>

<script is:inline>

	const theme = (() => {
	  if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
		return localStorage.getItem("theme");
	  }
	})();
  
	window.localStorage.setItem("theme", theme);
	document.querySelector('html').setAttribute('data-theme', theme);

</script>