---
import Btn from "../components/cta-button.astro";
---

<section class="flex flex-col lg:flex-row max-[375px]:px-4 text-neutral align-center justify-center p-8 bg-base-100 " id="about" >

    <div class="flex flex-col justify-between">

        <div class="flex flex-col items-center p-2 lg:p-4 text-pretty">
            <h2 id="title-hook" class="font-extrabold text-4xl lg:text-5xl text-center max-lg:pt-12 max-lg:bg-base-100">Um ano de impacto positivo <br>na vida das pessoas</h2>
           
            <div class="flex flex-col justify-center align-center items-center lg:flex-row p-4 w-[80%]" id="facilityInNumbers">
                
                <div class="px-8 py-16 m-2 space-y-8" >
                    <h3 class="text-center self-center font-extrabold text-8xl text-accent">
                        <!-- css func to asc count -->
                        <!-- <span class="[counter-set:_num_var(--num-transactions)] before:content-[counter(num)]"></span>     -->
                        <span class="counter">0</span>
                    </h3>
                    <p class="text-center text-lg lg:text-md">Unidades em funcionamento</p>
                </div>

                <div class="px-8 py-16 m-3 space-y-8 w-fit">
                    <h3 class="text-center self-center font-extrabold text-8xl text-accent">
                        <!-- <span class="[counter-set:_num_var(--num-assets)] before:content-[counter(num)]"></span> -->
                        <span class="counter">0</span>    
                    </h3>
                    <p class="text-center text-lg lg:text-md text-nowrap">Toneladas de CO2 <br>não foram emitidas</p>
                </div>

                <div class="px-8 py-16 m-2 space-y-8">
                    <h3 class="text-center self-center font-extrabold text-8xl text-accent">
                        <!-- <span class="[counter-set:_num_var(--num-users)] before:content-[counter(num)] text-nowrap"><span>k</span></span>     -->
                        <span class="counter">0</span>
                    </h3>
                    <p class="text-center text-lg lg:text-md text-nowrap">Compras realizadas <br>em um ano</p>
                </div>

            </div>

        </div>

    </div>

    <div class="flex flex-col items-center text-left lg:w-[30%]">
        <div class="flex flex-col items-center lg:w-[85%]">
            <h2 class="w-full lg:px-2 py-2 font-extrabold text-5xl leading-normal text-nowrap text-center">Mercado <br> autônomo</h2>
            <p class="text-lg py-6 px-2 text-justify lg:mx-2 lg:w-[80%] leading-6">
                Como o próprio nome sugere, no mercado autônomo o cliente 
                realiza todas as etapas da compra sem precisar de funcionários, ou seja, 
                um mercado em casa <strong>disponível 24 horas</strong> por dia!
            </p>
            <Btn bgColor="#72ad49" textColor="#FFF" />
        </div>
    </div>

</section>

<style>
    @property --num-transactions {
        syntax: "<integer>";
        initial-value: 0;
        inherits: false;
    }

    @property --num-assets {
        syntax: "<integer>";
        initial-value: 0;
        inherits: false;
    }

    @property --num-users {
        syntax: "<integer>";
        initial-value: 0;
        inherits: false;
    }

    @keyframes counter {
        from {
            --num-transactions: 0;
            --num-assets: 0;
            --num-users: 0;
        }
        to {
            --num-transactions: 8;
            --num-assets: 23;
            --num-users: 20;
        }
    }

    .counter {
        opacity: 1;
        transition: counter 5s ease-out forwards;
    }

    .counter.active {
        opacity: 1;
    }
</style>


<script>
    let isAnimationLoaded = false;
    
    window.addEventListener("scroll", function() {
        const element = document.getElementById("facilityInNumbers");
        const titleElement = document.getElementById("title-hook");
        
        if (titleElement && !isAnimationLoaded) {
            const rect = titleElement.getBoundingClientRect();
            const isInViewport = (
                rect.top >= 0 &&
                rect.left >= 0 &&
                rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) &&
                rect.right <= (window.innerWidth || document.documentElement.clientWidth)
            );

            
            if (isInViewport) {
                let spans = element.getElementsByTagName("span");
                
                for (let span of spans) {
                    span.classList.add("counter");
                    
                }
                isAnimationLoaded = !isAnimationLoaded;
            } 
        }
    });
</script>