---
import { Image } from "astro:assets";
import basketImg from "../images/Sao-beneficios-para-voce-e-para-o-seu-condominio.png";
import cellphoneImg from "../images/App-exclusivo.png";
import insideImg from "../images/Adaptado-para-a-estrutura-do-seu-condominio.png";

---


<div class="flex flex-col lg:flex-row w-fill justify-center py-8 items-center z-90 max-lg:px-4 " id="benefits">
    <h2 class=" text-3xl text-center lg:text-6xl font-extrabold px-12 lg:text-left">
        São benefícios para<br> você
        e para o <br> seu condomínio
    </h2>
    
    <div class="p-8">
        <Image src={basketImg} width={600} class="rounded-xl" loading="eager" alt="picture" />
    </div>

    <div class="max-lg:hidden h-[850px] w-[850px] p-8 bg-secondary absolute rounded-full z-[-1] mt-[5%] mr-[-85%]">
    </div>

</div>

<div class="flex flex-col justify-center py-8 items-center max-lg:px-4">
    <h2 class="text-4xl max-md:text-center lg:text-6xl font-extrabold py-4">Tecnologia e Inovação</h2>
    <div class="flex flex-col p-8 max-lg:space-y-16 lg:flex-row lg:justify-around lg:w-[80%] lg:space-x-20">

        <div class="flex flex-col max-lg:p-4">
            <h3 class="text-3xl font-bold py-4 w-30 text-center">Aplicativo exclusivo</h3>
            <Image src={cellphoneImg} class="rounded-xl self-center" loading="eager"
                    height={200} width={400} alt="picture" />
        
            <div class="flex flex-row w-full max-md:pt-4 max-md:items-center md:justify-end">
                <div class="flex min-h-[15%] max-w-fit md:max-w-[75%] px-8 py-4 rounded-3xl md:mt-[-60px] lg:mt-[-120px] mr-[-20px] lg:mr-[-140px] items-center justify-center bg-base-100 shadow-xl border-2 border-grey-200">
                    <ul role="group">
                        {
                            ["Pagamento", "Consulta de produtos", "Abrir trava de bebidas +18"].map((subtitle) => (
                                <li class="font-semibold max-sm:text-center">
                                    <p class="p-2 md:text-nowrap">{subtitle}</p>
                                </li>
                            ))
                        }
                    </ul>
                </div>
            </div>
        </div>

        <div class="flex flex-col max-lg:p-4">
            <h3 class="text-3xl font-bold py-4 w-30 text-center">Projeto tecnico <br>personalizado</h3>
            <Image src={insideImg} class="rounded-xl self-center" loading="lazy"
                    height={200} width={400} alt="picture" />
        
            <div class="flex flex-row w-full max-md:py-8 max-md:items-center md:justify-end">
                <div class="flex min-h-[15%] bg-base-100 max-w-fit md:max-w-[75%] px-8 py-4 rounded-3xl shadow-xl border-2 border-grey-200 md:mt-[-60px] lg:mt-[-120px] mr-[-20px] lg:mr-[-140px] items-center">
                    <ul role="group">
                        <li class="font-semibold max-sm:text-center">
                            <p class="p-2">Adaptado para a estrutura do seu condomínio</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
    </div>
</div>
