---
import { Picture } from "astro:assets";
import Card from "../components/card.astro";
---
    

<div class="flex flex-col lg:flex-row w-fill justify-center py-8 items-center z-90" id="benefits">
    <span class="text-4xl font-bold px-12 max-lg:text-center">
        São benefícios para você<br>
        e para o seu condomínio
    </span>
    <!-- TODO: fix border round -->
    <!-- TODO: fix line break sections -->
    <!-- TODO: responsive design -->
    <div class="p-8">
        <Picture src="https://w0.peakpx.com/wallpaper/894/146/HD-wallpaper-inside-bar-view-lounge.jpg" 
            class="rounded-xl" loading="lazy" height={200} width={600} alt="picture" />
    </div>
</div>

<div class="flex flex-col justify-center py-8 items-center">
    <h2 class="text-3xl lg:text-4xl font-bold py-4">Tecnologia e Inovação</h2>
    <div class="flex flex-col p-8 max-lg:space-y-16 lg:flex-row lg:justify-around lg:w-[80%]">

        <Card title="Projeto tecnico personalizado" 
            imageSrc="https://avatars.githubusercontent.com/u/60834135" 
            moreInfo={["Pagamento", "Consulta de produtos", "Abrir trava de bebidas +18"]}    
        />

        <Card title="Projeto tecnico personalizado" 
            imageSrc="https://avatars.githubusercontent.com/u/60834135" 
            moreInfo={["Adaptado para a estrutura do seu condomínio"]}    
        />
        
    </div>
</div>
