---
import Image from "astro/components/Image.astro"
import { Picture } from "astro:assets"
---

<div class="flex flex-col items-center">
    <h2 class="text-4xl text-center font-bold py-8">Facilidade e economia</h2>
    <div class="grid grid-cols-3 py-4 gap-x-9 font-semibold">
        <div class="grid text-center mx-4">
            <Picture src="https://daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg"
                class="rounded-xl" loading="lazy"
                height={250} width={250} alt="picture" />
            <h3 class="py-4">
                Sem custo de implantação
            </h3>
        </div>
        <div class="grid text-center mx-4">
            <Picture src="https://daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg"
                class="rounded-xl" loading="lazy"
                height={250} width={250} alt="picture" />
            <h3 class="py-4">
                Limpeza, reposição <br>
                e controle de estoque
            </h3>
        </div>
        <div class="grid text-center mx-4">
            <Picture src="https://daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg"
                class="rounded-xl" loading="lazy"
                height={250} width={250} alt="picture" />
            <h3 class="py-4">
                Atendimento online <br>ao cliente
            </h3>
        </div>
    </div>
</div>

<div class="flex flex-col items-center">
    <h2 class="text-4xl text-center font-bold py-8">Segurança e Tranquilidade</h2>
    <div class="grid grid-cols-3 py-4 gap-x-9 font-semibold">
        <div class="grid text-center mx-4">
            <Picture src="https://daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg"
                class="rounded-xl" loading="lazy"
                height={250} width={250} alt="picture" />
            <h3 class="py-4">
                Sem custo de implantação
            </h3>
        </div>
        <div class="grid text-center mx-4">
            <Picture src="https://daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg"
                class="rounded-xl" loading="lazy"
                height={250} width={250} alt="picture" />
            <h3 class="py-4">
                Limpeza, reposição <br>
                e controle de estoque
            </h3>
        </div>
        <div class="grid text-center mx-4">
            <Picture src="https://daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg"
                class="rounded-xl" loading="lazy"
                height={250} width={250} alt="picture" />
            <h3 class="py-4">
                Atendimento online <br>ao cliente
            </h3>
        </div>
    </div>
</div>

<div class="flex flex-col items-center py-8">
    <h2 class="text-4xl text-center font-bold py-8">E tem mais economia!</h2>
    <div class="grid grid-cols-2 py-4 gap-x-9 font-semibold">
        <div class="flex flex-row mx-4">
            <Image src="https://daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg"
                class="rounded-xl" loading="lazy" height={250} width={250} alt="picture" />
            <div class="flex flex-col w-80 px-8 align-center">
                <h3 class="py-4 text-2xl font-bold">
                    Cashback para o condomínio
                </h3>
                <p>
                    Parte do valor retorna para a cobertura 
                    de custos do condomínio.
                </p>
            </div>
        </div>
        <div class="flex flex-row mx-4">
            <Image src="https://daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg"
                class="align-center rounded-xl" loading="lazy"
                height={250} width={250} alt="picture" />
            <div class="flex flex-col w-80 px-8 align-center">
                <h3 class="py-4 text-2xl font-bold">
                    Valorização do seu imóvel
                </h3>
                <p>
                    O mercado autônomo torna o imóvel mais 
                    atrativo para compradores e inquilinos.
                </p>
            </div>
        </div> 
    </div>
    <a href="" type="button" class="mt-10 p-2 bg-accent text-base-100 font-bold text-sm rounded-full w-fit">Quero no meu condomínio</a>
</div>