---
import { Picture } from "astro:assets";
---

<main class="grid grid-cols-2 p-4 items-center bg-secondary pb-40">
    <div class="flex flex-row justify-center">
        <section class="flex flex-col items-center">
            <h1 class="font-bold text-4xl text-base-100 w-[60%]">
                Praticidade, economia e qualidade de vida para você e para sua família!
            </h1>
            <span class="w-[60%]">
                <a href="https://api.whatsapp.com/send/?phone=5511994961361&text=Oi,%20gostaria%20de%20saber%20mais%20sobre%20ser%20licenciado%20Facility" type="button" class="mt-10 p-2 bg-base-100 text-neutral font-bold text-sm rounded-full w-fit">Quero no meu condomínio</a>
            </span>
        </section>
    </div>
    <Picture loading='lazy' src="https://breed-assets.wisdompanel.com/cat/domestic-cat-finland/European_Domestic.png"
            height={500} width={500} format="png"
            class="m-6 border-black border-1 rounded-2xl"
            aria-label="Rafael picture" alt="my profile picture" />
 
</main>
