---
import { Image } from "astro:assets";
import Btn from "../components/cta-button.astro";
import logo from "../images/Icone-mapa-Facility.png";
---
<main class="flex flex-col-reverse bg-secondary items-center justify-center py-12 lg:p-8 lg:pb-40 lg:flex-row ">
    
    <section class="flex flex-row max-lg:mb-40">
        <div class="flex flex-col items-center text-left lg:p-0 lg:block lg:w-[85%]">
            <span class="flex flex-col text-3xl md:text-4xl  lg:mb-20 font-extrabold text-base-100 max-lg:text-center lg:space-y-5 lg:text-nowrap">
                <p>Praticidade, economia</p> 
                <p>e qualidade de vida</p>
                <p>para você e para sua família!</p>
            </span>
            <Btn bgColor="#FFF" textColor="#494f4f"/>
        </div>
    </section>
    

    <section class="flex flex-col w-fit m-6 max-lg:items-center">
        <div class="grid grid-cols-4 grid-rows-4 w-[300px] h-[300px] lg:w-[550px] lg:h-[550px] rounded-full bg-[url('/images/Banner-inicial.png')] bg-cover max-sm:py-8">
            
            <div class="bg-base-100 h-fit w-fit p-1 max-sm:mb-4 rounded-full self-end justify-self-end">
                
                <!-- desktop -->
                <div class="hidden lg:block">
                    <Image src={logo} width={50} alt="test"/>   
                </div>

                <!-- mobile -->
                <div class="lg:hidden">
                    <Image src={logo} width={30} alt="test"/>   
                </div>
            </div>
            
            <!-- lord, forgive me but... -->
            <span></span>
            <span></span>
            <span></span>

            <span></span>
            <span></span>
            <span></span>
            <span></span>

            <span></span>
            <span></span>
            <span></span>
            <span></span>

            <ul role="group" class="text-sm md:text-md lg:text-lg font-bold space-y-4 self-center lg:self-end mb-[20px]">
                <li class="w-fit rounded-full bg-base-100">
                    <p class="px-3 py-2 lg:py-4 lg:px-6 text-nowrap">24 horas</p>
                </li>
                <li class="w-fit rounded-full bg-base-100 ml-2">
                    <p class="px-3 py-2 lg:py-4 lg:px-6 text-nowrap">Rápido e fácil</p>
                </li>
                <li class="w-fit rounded-full bg-base-100 ml-4">
                    <p class="px-3 py-2 lg:py-4 lg:px-6 text-nowrap">Sem filas e sem sair de casa</p>
                </li>
            </ul>
        </div>

    </section>
</main>
