---
import { Picture } from "astro:assets";
---

<main class="flex flex-col-reverse bg-secondary items-center p-4 pb-40 lg:flex-row">
    <div class="flex flex-row justify-center lg:w-[50%]">
        <section class="flex flex-col items-center lg:align-center">
            <h1 class="text-4xl font-bold text-base-100 max-lg:text-center lg:w-[60%]">
                Praticidade, economia e qualidade de vida para você e para sua família!
            </h1>
            <span class="lg:w-[60%]">
                <a href="https://api.whatsapp.com/send/?phone=5511994961361&text=Oi,%20gostaria%20de%20saber%20mais%20sobre%20ser%20licenciado%20Facility" type="button" class="mt-10 p-2 bg-base-100 text-neutral font-bold text-sm rounded-full w-fit">Quero no meu condomínio</a>
            </span>
        </section>
    </div>
    <Picture loading='lazy' src="https://breed-assets.wisdompanel.com/cat/domestic-cat-finland/European_Domestic.png"
            height={500} width={500} format="png"
            class="m-6 border-black border-1 rounded-2xl max-sm:max-w-[80%]"
            aria-label="Rafael picture" alt="my profile picture" />

</main>
