---
import { Image } from "astro:assets";
import bannerImg from "../images/Banner-inicial.png"
import Btn from "../components/cta-button.astro";
---

<main class="flex flex-col-reverse bg-secondary items-center justify-center py-12 max-lg:min-h-fit lg:p-8 lg:pb-40 lg:flex-row">
    <div class="flex flex-row justify-cente lg:w-[50%]">
        <section class="flex flex-col items-end pb-[40%] h-fit lg:p-0">
            <div class="flex flex-col items-center text-left lg:p-0 lg:block lg:w-[85%]">
                <h1 class="text-3xl lg:text-5xl pb-8 font-extrabold text-base-100 max-lg:text-center leading-relaxed lg:text-nowrap">
                    Praticidade, economia <br>e qualidade de vida <br>para você e para sua família!
                </h1>
               
                <Btn bgColor="#FFF" textColor="#494f4f" />
                
            </div>
        </section>
    </div>
    <div class="w-fit m-6 flex flex-col max-lg:items-center">
        <Image loading='lazy' src={bannerImg}
            height={600} width={600} format="png"
            class="border-black border-1 rounded-full max-sm:max-w-[60%] relative z-1"
            aria-label="Rafael picture" alt="my profile picture" />
    </div>
</main>
