---
import Carousel from "../components/carousel.astro";
import Btn from "../components/cta-button.astro";
---

<section class="pt-24 lg:py-6 " id="products">
    <span class="flex justify-center">
        <h2 class="font-extrabold text-4xl lg:text-5xl text-center max-lg:pt-12 max-lg:bg-base-100 lg:w-[50%] max-md:p-4">Descubra como a Facility pode 
            transformar o seu condomínio!</h2>
    </span>
    
    <div class="py-8">
        <Carousel />
    </div>
    
    <div class="grid space-y-12 lg:space-y-2 lg:grid-cols-2 text-center text-3xl py-8 font-bold">
        <span>
            O mix de produtos é personalizado<br>
            de acordo com o consumo!
        </span>
        <span>
            A Facility conta com fornecedores<br>
            exclusivos de produtos especiais!
        </span>
    </div>
    <div class="flex w-full justify-center max-lg:py-8">
        <Btn bgColor="#ff9549" textColor="#FFF"/>
    </div>
</section>