---
import Image from "astro/components/Image.astro";
import logo from "../images/logo-facility-home-market-footer.svg";
import Card from "../components/card.astro";
import avatarPic from "../images/2a-Monitoramento-com-cameras.png";
import Btn from "../components/cta-button.astro";
---

<section class="flex flex-col items-center pt-8 pb-20" id="reviews">
    <h2 class="text-4xl text-center font-bold py-8">Quem tem Facility em casa <br>usa e aprova...</h2>
    
    <div class="grid grid-cols-1 max-lg:gap-y-12 max-lg:items-center max-lg:items-center max-lg:text-center md:grid-cols-1 lg:grid-cols-3 py-4 font-semibold">
        <div class="flex flex-col items-center mx-4">
            <Card avatarPic={avatarPic} 
            name="Ennet Lee" jobTitle="Monitor" 
            depoiment=`Lorem ipsum dolor sit amet, 
                consectetur adipiscing elit. 
                Phasellus quis volutpat lorem. 
                Lorem ipsum dolor sit amet, 
                consectetur adipiscing elit. 
                Phasellus quis volutpat lorem.`/>
        </div>
        <div class="flex flex-col items-center mx-4">
            <Card avatarPic={avatarPic} 
            name="Ennet Lee" jobTitle="Monitor" 
            depoiment=`Lorem ipsum dolor sit amet, 
                consectetur adipiscing elit. 
                Phasellus quis volutpat lorem. 
                Lorem ipsum dolor sit amet, 
                consectetur adipiscing elit. 
                Phasellus quis volutpat lorem.`/>
        </div> 
        <div class="flex flex-col items-center mx-4">
            <Card avatarPic={avatarPic} 
            name="Ennet Lee" jobTitle="Monitor" 
            depoiment=`Lorem ipsum dolor sit amet, 
                consectetur adipiscing elit. 
                Phasellus quis volutpat lorem. 
                Lorem ipsum dolor sit amet, 
                consectetur adipiscing elit. 
                Phasellus quis volutpat lorem.`/>
        </div> 
    </div>
    <Btn bgColor="#ff9549" textColor="#FFF"/>
</section>

<div class="flex justify-center mb-[-80px] lg:relative">
    <div class="max-lg:relative  max-lg:mb-[40px]">
        <div class="w-fit bg-base-100 py-8 px-12 rounded-full shadow-md">
            <Image src={logo} loading="lazy"
                height={100} width={100} alt="picture" />
        </div>
    </div>
</div>
