---
import Picture from "astro/components/Picture.astro";
import Image from "astro/components/Image.astro";
---

<section class="flex flex-col items-center py-8">
    <div class="rounded-xl h-60 mx-2 w-3/4 bg-[url('https://w0.peakpx.com/wallpaper/894/146/HD-wallpaper-inside-bar-view-lounge.jpg')] bg-cover bg-center">
        <span> </span>
    </div>
</section>


<section class="flex flex-col items-center pt-8 pb-40">
    <h2 class="text-4xl text-center font-bold py-8">Quem tem Facility em casa <br>usa e aprova...</h2>
    
    <div class="grid grid-cols-3 py-4 font-semibold">
        <div class="flex flex-col mx-4">
            <Image src="https://daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg"
                class="rounded-xl" loading="lazy" height={250} width={250} alt="picture" />
            <div class="flex flex-col w-80 px-8 align-center">
                <h3 class="py-4 text-2xl font-bold">
                    Cashback para o condomínio
                </h3>
                <p>
                    Parte do valor retorna para a cobertura 
                    de custos do condomínio.
                </p>
            </div>
        </div>
        <div class="flex flex-col mx-4">
            <Image src="https://daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg"
                class="align-center rounded-xl" loading="lazy"
                height={250} width={250} alt="picture" />
            <div class="flex flex-col w-80 px-8 align-center">
                <h3 class="py-4 text-2xl font-bold">
                    Valorização do seu imóvel
                </h3>
                <p>
                    O mercado autônomo torna o imóvel mais 
                    atrativo para compradores e inquilinos.
                </p>
            </div>
        </div> 
        <div class="flex flex-col mx-4">
            <Image src="https://daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg"
                class="align-center rounded-xl" loading="lazy"
                height={250} width={250} alt="picture" />
            <div class="flex flex-col w-80 px-8 align-center">
                <h3 class="py-4 text-2xl font-bold">
                    Valorização do seu imóvel
                </h3>
                <p>
                    O mercado autônomo torna o imóvel mais 
                    atrativo para compradores e inquilinos.
                </p>
            </div>
        </div> 
    </div>
    <a href="" type="button" class="mt-10 p-2 bg-primary text-base-100 font-bold text-sm rounded-full w-fit">Quero no meu condomínio</a>
</section>
